.round-name {
    font-size: 7rem;
    font-family: Stencil;
    margin-bottom: 1vh;
    margin-top: 0;
    padding: 0;
    text-shadow: 0 0 2px white, 0 0 4px white, 0 0 6px white;
    animation: fade-in-and-out 2s linear;
    max-width: 100vw;
}

.fight{
    margin-top: 0;
    font-size: 13rem;
    font-family: "Bradley Hand ITC";
    animation: fade-in-and-out 2s linear;
    max-width: 100vw;
}

.message-color{
    color: var(--message-color);
}

@keyframes fade-in-and-out {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    85% {
        scale: 1.1;
        opacity: 1;
    }
    100% {
        opacity: 0;
        scale: 1.3;
    }
}