.navigation {
    position: relative;
    color: #61dafb;
    text-align: center;
    padding: 2px;
    margin-bottom: 2px;
}
.navigation__elements {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;
}
.navigation__button{
    padding: 0 2px;
}
.navigation__button:first-child {
    grid-column-start: 2;
}
h1{
    margin: 0;
    padding: 0;
}
