:root {
  --main-color: #61dafb;
  --main-dark-color: #31a7c8;
  --main-disabled-color: gray;
  --main-hoover-color: #9faab7;
  --clicked-movie-color: #41b8d9;
  --message-color: #18188c;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
